img {
  max-width: 100%;
  height: auto;
  display: block;
}
#detalleContenido img {
  max-width: 400px;   /* ajustás a gusto */
  width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
  border-top-style: ridge;
  border-left-style: ridge;
  border-bottom-style: groove;
  border-right-style: groove;
  border-color: rgb(167, 102, 28);
  border-width: 5px;
  border-radius: 15px;
}
/*
rgb(121,84,40) groove
rgb(121,84,40) inset
rgb(121,84,40) outset
rgb(121,84,40) ridge
*/
#contenedorTabla {
  max-height: calc(5 * 40px); /* 5 filas visibles */
  overflow-y: auto;
  border: 2px black solid;
}

#tablaCubos tr {
  height: 40px;
}
.fila-imagenes {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.fila-imagenes img {
  max-width: 45%;
}









